<?xml version="1.0" encoding='UTF-8' ?> 
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>F.UN - энциклопедия фантастических вселенных</title>
        <link>{{ url('') }}</link>
        <description>Проект посвященный фантастическим вселенным, нашедшим воплощение на страницах комиксов и книг, фильмах, сериалах, в настольных и видео играх.</description>
        <language>ru</language>
        <copyright>CRYDEsigN 2019, fun-wiki.ru</copyright>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <ttl>600</ttl>
        <lastBuildDate>{{ lastBuildDate|date("d M Y H:i:s") }} +0300</lastBuildDate>
        <image>
            <url>{{ url('') }}/storage/app/media/main-cover.png</url>
            <title>F.UN - энциклопедия фантастических вселенных</title>
            <link>{{ url('') }}</link>
        </image>
        <atom:link href="http://dallas.example.com/rss.xml" rel="self" type="application/rss+xml" />

        {% for record in content %}
        <item>
            <title>{{ record.title }}</title>
            <link>{{ url('') ~ record.permalink }}</link>
            <description>{{ record.contentable.description|slice(0, 200)|striptags }}...</description>
            <author>{{record.author.email }} ({{ record.author.first_name }} {{ record.author.last_name }})</author>
            <guid>{{ url('') ~ record.permalink }}</guid>
            <pubDate>{{ record.published_at|date("d M Y H:i:s") }} +0300</pubDate>
        </item>
        {% endfor %}

    </channel> 
</rss>
