<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    {% for person in persons %}
    <url>
        <loc>{{ url('/person/') }}/{{ person.slug }}</loc>
        <lastmod>{{ person.created_at|date('c') }}</lastmod>
        <changefreq>always</changefreq>
        <priority>0.5</priority>
    </url>
    {% endfor %}

    {% for record in universes %}
    <url>
        <loc>{{ url('/') }}/{{ record.slug }}</loc>
        {% if record.updated_at %}
        <lastmod>{{ record.updated_at|date('c') }}</lastmod>
        {% else %}
        <lastmod>{{ record.created_at|date('c') }}</lastmod>
        {% endif %}
        <changefreq>always</changefreq>
        <priority>0.5</priority>
    </url>
    {% endfor %}

    {% for record in book_edition %}
    <url>
        <loc>{{ url('/') }}/{{record.universes[0].slug}}/books/{{ record.slug }}</loc>
        {% if record.updated_at %}
        <lastmod>{{ record.updated_at|date('c') }}</lastmod>
        {% else %}
        <lastmod>{{ record.created_at|date('c') }}</lastmod>
        {% endif %}
        <changefreq>always</changefreq>
        <priority>0.5</priority>
    </url>
    {% endfor %}


</urlset>
