<select name="<?php echo $name ?>" id="<?php echo $id ?>" class="demo-default" placeholder="Без категории..." value=>
    <option value="-1">Без категории...</option>
	<?php foreach($options as $key => $value): ?>
        <option 
            value="<?php echo $value->id ?>"
            <?php echo in_array($value->id, $selectedValues) ? 'selected="selected"' : '';  ?>>
            <?php echo $value->title ?>
        </option>
    <?php endforeach; ?>
</select>

<script>
    $(document).ready(function () {
        $('#<?php echo $id; ?>').selectize({
		    create: true,
			sortField: {
				field: 'text',
			    direction: 'asc'
			},
			dropdownParent: 'body'
        });
    });
</script>