<?

$id = $vars['record']->attributes['id'];
$books = [];
$authors = '';
$booksId = [];

$collection = \fw\Backend\Models\BookEdition::where('id', $id)->get();

if (isset($collection)) {
    foreach ($collection[0]->books as $book) {
       array_push($books, $book);
    }
}

foreach ($books as $key => $value) {
    array_push($booksId, $value['id']);
}

$collection = \fw\Backend\Models\Book::whereIn('id', $booksId)->get();

if (isset($collection)) {
    foreach ($collection as $book) {
        foreach ($book->authors as $author) {
            $authors .= $author->title.', ';
        }
}
        
$authorlist = substr($authors,0,-2);
}
        
echo $authorlist;
    
?>