.form-control.select2-hidden-accessible {
    width: 0px !important;
    border: 0 !important;
}

.fancy-layout .form-tabless-fields input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-balloon-selector {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fancy-layout .form-buttons {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover-image {
    position: relative;
    min-height: 300px;
    padding-bottom: 0;
}

.cover-image>.field-mediafinder.style-image-single .find-button {
    display: block;
    border: 2px dotted rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    min-height: 300px;
    width: 100%;
}

.label-image {
    position: absolute;
    bottom: 0;
    right: 35px;
}

.cover-image>.field-mediafinder.style-image-single .find-object {
    display: none;
    padding-bottom: 0;
}

.cover-image>.field-mediafinder.style-image-single .find-object .info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
    width: 40%;
}

.cover-image>.field-mediafinder.style-image-single .find-object .info>h4 {
    margin: 0;
}

.label-image>.field-mediafinder.style-image-single .find-object .info {
    position: absolute;
    margin-top: 30px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
}

.label-image>.field-mediafinder.style-image-single .find-object .info>h4 {
    margin: 0;
}

.label-image>.field-mediafinder.style-image-single .find-object .icon-container {
    display: block;
    border: none;
    background: none;
}

.label-image>.field-mediafinder.style-image-single .find-button {
    display: block;
    border: 2px dotted rgba(200, 200, 200, 0.8);
    position: relative;
    outline: none;
}

.wrap {
    margin: 0;
    padding: 0;
}

.paddingTabs {
    padding-top: 10px !important;
}

.fancy-layout .form-tabless-fields input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
}

.field-mediafinder.style-image-single .find-object .icon-container {
    border: 0 !important;
}

.field-mediafinder.style-image-single .find-object .icon-container img {
    border-radius: 0 !important;
}

.isPseudo {
    margin-top: 5px;
}

.personPhoto {
    height: 300px;
}

.personPhoto>.field-mediafinder .style-image-single .find-button {
    display: block;
    border: 2px dotted rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    min-height: 300px;
    width: 100%;
}

.cover {
    height: 300px;
}

.cover>.field-mediafinder .style-image-single .find-button {
    display: block;
    border: 2px dotted rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    width: 100%;
}

/* Dashboard */

.bg-white {
    background-color: #fff;
}

.title-value p:before {
    color: #888;
}

.card_list {
    display: flex;
}