<?php 
$complete = 0;
$num_fields = 0;


$fields = $vars['record']->attributes;

foreach ($fields as $key => $value) {
    if ($key === "id") {
        continue;
    }

    if ($key === "complete") {
        continue;
    }

    if ($key === "_images_block_start" or $key === "_images_block_end") {
        continue;
    }

    if ($value != null or $value != '') {
        $complete++;
    }

    $num_fields++;
}

if ($vars['record']->cover != '' or $vars['record']->logo != '') {
    $complete++;
}

if ($vars['record']->persons->toArray() != [] or $vars['record']->company->toArray() != []) {
    $complete++;
}

if ($vars['record']->genres->toArray() != []) {
    $complete++;
}

$result = ceil($complete / ($num_fields-1) * 100);

\fw\Backend\Models\Universe::where('id', $vars['record']->id)->update(['complete' => $result]);

echo ($result.'%');
