<?php
$complete = 0;
$num_fields = 0;


$fields = $vars['record']->attributes;

foreach ($fields as $key => $value) {
    if ($key === "id") {
        continue;
    }

    if ($key === "complete") {
        continue;
    }

    if ($key === "deathdata") {
        continue;
    }

    if ($key === "country") {
        continue;
    }

    if ($key === "name_translate") {
        continue;
    }

    if ($key === "is_pseudo" && $value === 1) {

        $complete = 1;
        $num_fields = 1;
        break;
    }

    if ($key === "is_pseudo") {
        continue;
    }

    if ($key === "pseudos") {
        continue;
    }

    if ($value != null or $value != '') {
        $complete++;
    }
    $num_fields++;
}

$result = ceil(($complete) / $num_fields * 100);

\fw\Backend\Models\Person::where('id', $vars['record']->id)
    ->update(['complete' => $result]);

echo $result.'%';